@model ftest.Models.Etd

@{
    ViewData["Title"] = "Newetd";
}

<h1>Newetd</h1>

<h4>Etd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Newetd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filiere" class="control-label"></label>
                <input asp-for="Filiere" class="form-control" />
                <span asp-validation-for="Filiere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Niv" class="control-label"></label>
                <input asp-for="Niv" class="form-control" />
                <span asp-validation-for="Niv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
