
@{
    ViewData["Title"] = "Tofb";
}
<!--
<h1>Tofb</h1>
<div >
    <h2>prof ou etd</h2>
    <a href="../Prof/NewProf"><button>prof</button></a>
    <a href="Newetd"><button>etd</button></a>
</div>
<link rel="stylesheet" href="Choix" />
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="ftest.styles.css" />
    
    
</head>
<body>
    <div class="row">
        <!--StartCol1-->
        <div class="column1">
            <div class="con">
                <a href="#">
                    <img src="..\image\Cream and Black Simple Education Logo (2).png"
                         alt="logoC#"
                         id="img1" />
                </a>
                <div class="text">
                    <p>La meilleure solution de réussite scolaire</p>
                </div>
                <img src="..\image\pic.jpeg" id="img2" />
            </div>
        </div>

        <!--EndCol1-->
        <!--StartCol2-->
        <div class="column2">
            <div class="content-boxChoix">
                <div class="content">
                    <h2>Est ce que vous êtez un</h2>
                    <div class="Choix">
                        <a href="Newetd">
                            <input type="submit" value="Etudiant" />
                        </a>
                        <a href="../Prof/NewProf" >
                            <input type="submit" value="Professeur" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--EndCol2-->
    </div>
</body>
</html>
